<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.lim1x.places">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name="ru.lim1x.places.room.App"
        android:allowBackup="true"
        android:icon="@mipmap/main_ico"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_ico_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Places">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCd41NcKGeylMpBOrGn1J8wh8mp3YkA-MA" />
        <meta-data
            android:name="com.yandex.API_KEY"
            android:value="a5b650e8-16b6-49f9-afe8-d7694c035651" />
        <activity
            android:name="ru.lim1x.places.activities.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="ru.lim1x.places.activities.SigninActivity"
            android:exported="false"
            android:label="@string/title_activity_signin" />

        <activity
            android:name="ru.lim1x.places.activities.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Places.NoActionBar">
            <meta-data
                android:name="com.yandex.API_KEY"
                android:value="a5b650e8-16b6-49f9-afe8-d7694c035651" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



    </application>


</manifest>